.done {
     text-decoration: line-through;
     background-color: lightgrey;
}

.tempHide {
  display: none;
}

.inputError {
  background-color: #ffe6e6 ;
}

span {
  cursor: pointer;
}

.spanNewTodoText {
  padding: 5px;
  font-size: 20px;
}

.glyphicon {
    font-size: 20px;
    margin: 5px;
}

* {
  -ms-touch-action: none;
touch-action: none;
}
